/* Estilos para la aplicación Vue */

#app:not([data-v-app]) [data-hide]{
    display: none !important;
}

#app:not([data-v-app]) [data-show="init"]{
    display: block !important;
}

.w-input:focus,
.w-select:focus {
    border-color: transparent;
    border-bottom: 1px solid #3898EC;
    outline: 0;
}

select,
.w-select,
::picker(select) {
    appearance: base-select;
    border-radius: 0px;
    height: auto;
    font-size: 0.92em;
}

.w-form-done,
.w-form-fail {
    display: block;
}

.lgn-wrap-1 {
    display: grid;
    grid-template-columns: 1fr;
    width: 40%;
    margin-left: auto;
}

.lgn-wrap-1-1 {
    display: flex;
    align-items: center;
}

.lgn-wrap-2,
.lgn-wrap-8 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.lgn-wrap-2-show,
.lgn-wrap-8-show {
    z-index: 1;
}

.lgn-wrap-9 {
    margin-bottom: 3.57em
}

.moj-text-8 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.moj-grid-1 {
    border-bottom: none;
    column-gap: 1em;
}

.moj-divider {
    padding: 1.14em 0px;
    grid-column: span 7 / span 7;
}

.moj-divider::after {
    content: "";
    display: block;
    height: 1px;
    background-color: #f0f0f1;
}

.pop-section-1 {
    display: flex;
}

.pop-wrap-close {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.pop-container-1{
    position: relative;
}

.pop-text-error{
    color: red;
    font-weight: bold;
}

.pop-text-success{
    color: green;
    font-weight: bold;
}

.lgn-form-2 > div:last-child {
    display: none;
}

.moj-wrap-8-nyc{
    display: flex;

    & .moj-span-1, & .moj-text-8, & .moj-span-2{
        display: inline;
    }

    & .moj-span-1, & .moj-span-2{
        color: inherit;
    }

}

.placeholder{
    mask-image: linear-gradient(to right, #f0ecec 50%, transparent);
}

.moj-text-1-nyc{
    color: #6E6E6E;
    background-color: #EDEDF3;
    font-size: 1em;
    padding: 0px .5em;
    border-radius: 5px;
}

    & .moj-wrap-6{
        gap: .6em;
    }

.moj-right{


    & .moj-toggle-1{
        justify-content: flex-end;
    }
}

.moj-wrap-5{
    cursor: pointer;
}

#init{
    position: fixed;
    inset: 0;
    background-color: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.daf-wrap-5-select{
    cursor: pointer;
    position: relative;
}

.daf-wrap-5-select nav{
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    z-index: 1;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 1px solid #f0f0f0;
    border-radius: .71em;
    box-shadow: 0 4px 20px #76767640;
    padding: .5em;

    & > div:hover{
        background-color: #EDEDF3;
    }
}

.daf-input-ss{
    background-color: #EDEDF3;
}

.w-input[disabled]:not(.w-input-disabled){
    background-color: transparent;
    color: #6E6E6E;
}

.daf-wrap-55{
    font-size: 1.2em;
}

[data-form-validate="true"] input{
    /* border-bottom-color: red; */
}

.disabled-btn{
    cursor: not-allowed;
    opacity: .5;
}

.disabled-actions{
    cursor: not-allowed;
    position: relative;    
}

.disabled-actions::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index: 2;
}

.moj-toggle-1 > .moj-text-1{
    position: relative;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .21em;
    
    &::after{
        content: "";
        position: relative;
        width: .7em;
        height: .7em;
        z-index: 2;
        background-image: url(https://cdn.prod.website-files.com/6810f8b3b925ddd8e243dab1/681508e2b1e3f654c611ecaa_Frame%204.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 991px) {
    .lgn-wrap-1 {
        width: 100%;
    }
}

@media screen and (max-width: 479px) {
    .moj-wrap-1-4 {
        & table {
            min-width: 600px;
        }
    }

    .moj-wrap-3.moj-right{
        flex-flow: column-reverse;

        & .moj-wrap-5{
            text-align: right;
        }
    }
}
